Repository Hallym-HAH/SGSH, pull requests merged in 2025-05, with the labels that each got.

#26 #25/Feat: 매출 관리 페이지 구현
  Web/app/manage/calc/page.js
  Web/app/manage/post/page.js
  Web/app/manage/sales/page.js
  Web/components/feature/manage_navbar.js
  Web/components/feature/manage_sidebar.js
  Web/components/feature/sales/chartData.js
  Web/components/feature/sales/sales_calc.js
  Web/components/feature/sales/sales_daily.js
  Web/next.config.mjs
  Web/package-lock.json
  Web/package.json
Labels: Feat

#32 #21/Feat: 홍보글 생성 기능 병합
  Web/app/api/search-blogs/route.js
  Web/app/manage/post/page.js
Labels: Feat, Test

#33 #30/feat 홍보글 생성 옵션 선택 및 블로그 선택 탭 추가
  Core/dockerfile
  Core/main.py
  Core/requirements_docker.txt
  Core/util/crawling.py
  Core/util/generator.py
  Core/util/information_extractor.py
  Core/util/keyword_extractor.py
  Core/util/main_Def.py
  Core/util/main_def_insta.py
Labels: Feat

#36 Feat/#34 카카오 소셜 로그인 구현 및 기타 업데이트
  Web/app/manage/layout.js
  Web/app/manage/menu/page.js
  Web/app/manage/order/page.js
  Web/app/manage/page.js
  Web/app/manage/post/page.js
  Web/app/manage/reserve/page.js
  Web/app/manage/sales/page.js
  Web/components/feature/manage_info.js
  Web/components/feature/manage_navbar.js
  Web/components/feature/manage_sidebar.js
  Web/components/feature/sales/chartData.js
  Web/components/feature/sales/sales_daily.js
  Web/next.config.mjs
Labels: Feat

#42 Feat/#39 예약 기능 구현
  Web/app/manage/menu/page.js
  Web/app/manage/reserve/page.js
  Web/components/feature/reserve/reserve_list_approve.js
  Web/components/feature/reserve/reserve_list_history.js
  Web/components/feature/reserve/reserve_list_standby.js
Labels: Feat

#45 Feat/#43 관리자 대시보드 업데이트
  Web/app/manage/info/page.js
  Web/app/manage/layout.js
  Web/app/manage/menu/page.js
  Web/app/manage/order/page.js
  Web/app/manage/page.js
  Web/app/manage/sales/page.js
  Web/app/page.js
  Web/components/feature/manage_dashboard.js
  Web/components/feature/manage_info.js
  Web/components/feature/manage_navbar.js
  Web/components/feature/manage_sidebar.js
  Web/components/feature/sales/chartData.js
  Web/components/feature/sales/sales_daily.js
  Web/package-lock.json
  Web/package.json
Labels: Feat, Style

#47 #44/Feat 매출 분석 API 구현 및 UI 개선을 위한 기능 추가
  Core/main_sales_analyzer.py
  Core/requirements_langchain.txt
  Core/sales_analyzer.py
  Core/util/generator.py
  Core/util/sales_preprocessing.py
  Web/app/manage/post/page.js
  Web/package-lock.json
  Web/package.json
Labels: Feat

#51 #48/feat 매출 분석 페이지 UI 구현 및 부분적 API 연결
  Core/dockerfile
  Core/dockerfile_generator
  Core/main_sales_preprocessing.py
  Core/requirements_generator.txt
  Core/requirements_preprocessing.txt
  Core/util/sales_preprocessing.py
  Web/app/manage/sales/page.js
  Web/components/feature/sales/sales_analysis.js
Labels: Feat, Style, Fix

#49 #40/Feat: 예약기능 붙이기
  .gitignore
  App/.flutter-plugins
  App/.flutter-plugins-dependencies
  App/android/app/src/main/AndroidManifest.xml
  App/assets/fonts/Moneygraphy-Pixel.ttf
  App/assets/fonts/Moneygraphy-Rounded.ttf
  App/assets/fonts/TossFaceFontMac.ttf
  App/assets/icons/burger.png
  App/assets/icons/china.png
  App/assets/icons/coffee.png
  App/assets/icons/etc.png
  App/assets/icons/image.png
  App/assets/icons/japan.png
  App/assets/icons/korea.png
  App/assets/images/logo/kakao_login.png
  App/assets/images/logo/sgsh_logo.png
  App/ios/Podfile.lock
  App/lib/auth/loginpage.dart
  App/lib/main.dart
  App/lib/models/business.dart
  App/lib/models/hit_data.dart
  App/lib/models/reservationviewmodel.dart
  App/lib/models/reserve_data.dart
  App/lib/models/userprofile.dart
  App/lib/pages/articlepage.dart
  App/lib/pages/mainpage.dart
  App/lib/pages/mappage.dart
  App/lib/pages/mydiningpage.dart
  App/lib/pages/mypage.dart
  App/lib/pages/reservationpage.dart
  App/lib/pages/searchpage.dart
  App/lib/pages/storedetail.dart
  App/lib/pages/storelist.dart
  App/lib/provider/bookmark_provider.dart
  App/lib/services/bookmark_service.dart
  App/lib/services/marker_service.dart
  App/lib/setting/account_page.dart
  App/lib/setting/qna_page.dart
  App/lib/setting/reservation_settings_page.dart
  App/lib/setting/service_settings_page.dart
  App/lib/setting/settings_page.dart
  App/lib/widgets/diningmagazinesection.dart
  App/lib/widgets/menudetail_modal.dart
  App/lib/widgets/reservation_bottom_sheet.dart
  App/lib/widgets/store_bottom_bar.dart
  App/lib/widgets/store_card.dart
  App/lib/widgets/storedetailbottomsheet.dart
  App/macos/Flutter/GeneratedPluginRegistrant.swift
  App/pubspec.yaml
Labels: Feat, Style, Fix

#52 Feat/#46 기능 업데이트 및 UI 수정 (충돌 방지를 위한 1차 PR)
  Web/app/manage/info/page.js
  Web/app/manage/layout.js
  Web/app/manage/menu/page.js
  Web/app/manage/order/page.js
  Web/app/manage/page.js
  Web/components/ScrollToTop.js
  Web/components/feature/manage_dashboard.js
  Web/next.config.mjs
Labels: Feat, Style

#53 Feat/#46 기능 업데이트 및 UI 수정
  Web/app/manage/info/page.js
  Web/app/manage/menu/page.js
  Web/app/manage/order/page.js
  Web/app/manage/reserve/page.js
  Web/app/manage/sales/page.js
  Web/components/feature/manage_dashboard.js
  Web/components/feature/reserve/reserve_list_approve.js
  Web/components/feature/reserve/reserve_list_history.js
  Web/components/feature/reserve/reserve_list_standby.js
  Web/components/feature/sales/sales_calc.js
  Web/components/feature/sales/sales_daily.js
  Web/next.config.mjs
  Web/package-lock.json
  Web/package.json
Labels: Feat, Style

#57 #54/Feat: API 출력 파싱 프로세스 생성/매출 데이터 분석 API 호출 코드 구현
  Web/components/feature/sales/sales_analysis.js
Labels: Feat

#59 Feat/#56 키오스크 앱 업데이트
  Kiosk/lib/main.dart
  Kiosk/lib/widgets/menu_card.dart
  Kiosk/lib/widgets/order_card.dart
  Web/components/feature/manage_dashboard.js
  Web/components/feature/manage_sidebar.js
Labels: Feat, Style

#77 #76/Feat: 인스타 포스팅 파이프라인 추가
  Web/app/api/instagram/upload/route.js
  Web/app/manage/post/page.js
  Web/lib/instagram.js
Labels: Feat

#79 #74/Fix: 디테일 수정
  App/lib/models/business.dart
  App/lib/models/menu.dart
  App/lib/pages/mainpage.dart
  App/lib/pages/mappage.dart
  App/lib/pages/mypage.dart
  App/lib/pages/searchpage.dart
  App/lib/pages/storedetail.dart
  App/lib/pages/storelist.dart
  App/lib/services/marker_service.dart
  App/lib/widgets/search_bar.dart
  App/lib/widgets/store_card.dart
Labels: Fix
